* {
  box-sizing: border-box;
}

.numbersList {
  float: left;
  width: 75%;
  height: 50%;
}

.betPanel {
  float: left;
  width: 20%;
  margin-left: 5%;
}

div.betPanel input {
  width:25%
}

.numberButton {
  margin-bottom:1%;
  margin-right:1%;
  position: relative;
  display: inline-block;
  width: 9%;
  padding:2.5%;
  border-radius: 100%;
  border-style: solid;
  border-color: black;
  background-color: yellow;
  text-align: center;
}

.selected {
  background-color: crimson;
}